// styles.scss
.testing {
    width: percentage(5/7);
}

body {
    background: paleturquoise;
}

.gulp-1 {
    height: 120px;
    width: 700px;
    background-color: aliceblue;
    margin: 0 auto;
 }
 